@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1{
    @apply text-2xl
  }
  h2{
    @apply text-xl
  }
  h3, h4{
    @apply text-xl
  }
}


@layer components {
  section{
    @apply container mx-auto my-20
  }
  .section{
    @apply my-10
  }
  .toggle {
    @apply fixed top-0 bottom-0 z-30 w-[50%] transition-all ease-in duration-500
  }

  .footerListItem {
    @apply hover:text-red-500 cursor-pointer p-2
  }
  .btn{
    @apply p-2 bg-blue-500 rounded-md text-white w-56 capitalize

  }
  .btn2{
    @apply p-2 bg-blue-500 rounded-md text-white w-full md:w-24 text-center hover:bg-blue-900 cursor-pointer capitalize

  }
}

@layer utilities {
  .filter-none{
    filter: none;
  }
}


/* keys */
/*important keys */
* {
  scroll-behavior: smooth;
}


body,
html {
  font-family: "Anta", sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

}

h1 {
  font-family: "Vigosamine", serif;
}

/* Hide scrollbar on Webkit-based browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}


.bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bar::-webkit-scrollbar {
  display: none;
}




/* For Firefox */

/* Hide scrollbar on Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: none;
  }
}

body {
  margin: 0;
  /* remove default margin */
  scrollbar-width: none;
  /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;
  /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Disable scrollbar Chrome/Safari/Webkit */
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 300ms ease;

}

.move{
  animation: moveUpDown 1s linear infinite;
}

@keyframes moveUpDown {
   from {
    transform: translateY(0);
   }
   to{
    transform: translateY(85px);
   }
}